.header {
  color: #3673cf;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
  text-shadow: 0px 0px 2px #3673cf;
}
.logoutBut {
  // filter: drop-shadow(0px 0px 2px rgba(54, 115, 207, 0.5));
  padding-right: 0.5rem;
}
.menuBut {
  filter: drop-shadow(0px 0px 2px rgba(54, 115, 207, 0.5));
  padding-left: 0.5rem;
}

.menu{
  --min-width: 45%
  --max-width: 80%
}

ion-input {
  background-color: rgba(0, 0, 0, 0.2);
  // margin: 10px;
  margin: 10px 0 10px 10px;
  border-radius: 3px;
  color: white;
}
ion-button {
  // --background: #3689ff;
  border-radius: 3px;
}
ion-button.enviar {
  // --background: #3689ff;
  // margin: 10px;
  // margin-left: auto;
  border-radius: 3px;
  height: auto;
  transition: 0.3s;
}
ion-button.camera {
  // --background: #3689ff;
  // margin: 10px;
  // margin-left: auto;
  border-radius: 3px;
  height: auto;
  transition: 0.3s;
}

img {
  margin-top: 0.25rem;
  border-radius: 3px;
}

ion-modal{
  --border-radius: 3px
}

.darkIcon{
  pointer-events: none;
}

.other {
  display: flex;
  flex-direction: column;
  background-color: #dadae0;
  margin: 0.5rem 0.5rem 0.25rem 0.4rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  color: #3689ff;
  width: fit-content;
  max-width: 85%;
  transition: 0.3s;
  border-radius: 3px;
  ion-item {
    --background: #dadae0;
    ion-label {
      --color: #3689ff;
      text-align: left;
    }
  }
}
.del {
  visibility: hidden;
}
.headMsg {
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  .own {
    background-color: #3689ff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin: 0.5rem 0.4rem 0 0.5rem;
    padding: 0.25rem;
    color: white;
    width: fit-content;
    transition: 0.3s;
    max-width: 85%;
    ion-item {
      --background: #3689ff;
    }
    border-radius: 3px;
  }
  .own:hover {
    .del {
      color: white;      
      visibility: visible;
      pointer-events: none;
    }
    .del2 {
      transition: all 0.3s ease;
    }
    .del2:hover {
      transition: all 0.3s ease;
      transform: scale(1.2) perspective(1px);
    }
  }
}
.hydrated {
  text-align: justify;
}

.img{
  max-height: 24rem
}

ion-icon {
  color: #3689ff
}

.modalFooter{
  position: fixed;
  height: 100px;
}

.modalToolbar{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: center;
}

.modalContent{
  display: flex;
}

ion-item{
  ion-input{
    --padding-start: 10px
  }
}

.modalLabel{
    width: 37%
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,800&display=swap");
