<ion-menu contentId="main-content" class="menu">
  <ion-header [translucent]="true">
    <ion-toolbar color="light">
      <ion-row>
        <ion-title class="ion-text-center">Menu</ion-title>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-text color="primary">Modo oscuro</ion-text>
        <ion-icon
          name="moon-outline"
          class="darkIcon"
          slot="end"
          *ngIf="darkTheme == 'true'"
        ></ion-icon>
        <ion-icon
          name="sunny-outline"
          class="darkIcon"
          slot="end"
          *ngIf="darkTheme == 'false'"
        ></ion-icon>
        <ion-toggle
          #themeToggle
          id="themeToggle"
          [checked]="darkTheme"
          slot="end"
        ></ion-toggle>
      </ion-item>
      <ion-item id="open-modal">
        <ion-text color="primary">Configuración</ion-text
        ><ion-icon name="settings-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-modal trigger="open-modal" class="modal">
  <ng-template>
    <ion-header [translucent]="true">
      <ion-toolbar color="light">
        <ion-row>
          <ion-title class="ion-text-center">Configuración</ion-title>
        </ion-row>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-text color="primary">Tamaño de la fuente: </ion-text>
          <ion-select
            interface="popover"
            placeholder="{{ fontSize }}"
            (ionChange)="onSelectFontSize($event)"
            slot="end"
          >
            <ion-select-option value="Pequeña">Pequeña</ion-select-option>
            <ion-select-option value="Normal">Normal</ion-select-option>
            <ion-select-option value="Grande">Grande</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- <ion-item>
          <ion-text color="primary" class="modalLabel">Cambiar nombre de usuario</ion-text>
          <ion-input #changeUser id="changeUser" type="text" placeholder="{{username}}" class="modalInput"></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-text color="primary" class="modalLabel"
            >Cambiar contraseña</ion-text
          >
          <ion-input
            #changePass
            id="changePass"
            type="password"
            class="modalInput"
            placeholder="******"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-text color="primary">Borrar cuenta</ion-text>
          <ion-button (click)="onDeleteAccount()" color="light" slot="end"
            >Borrar</ion-button
          >
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-button (click)="onSaveConfig()" expand="full" fill="clear"
          >Guardar los cambios</ion-button
        >
        <ion-button (click)="onSetDefaultValues()" expand="full" fill="clear"
          >Cargar valores por defecto</ion-button
        >
        <ion-button (click)="onCloseModal()" expand="full" fill="clear">Cerrar</ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>

<div class="ion-page" id="main-content"></div>

<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-row>
      <ion-menu-toggle class="menuBut">
        <ion-button fill="clear"
          ><ion-icon name="menu-outline" title="Menu"></ion-icon
        ></ion-button>
      </ion-menu-toggle>
      <ion-title class="ion-text-center">Chat</ion-title>
      <ion-button
        class="logoutBut"
        fill="clear"
        (click)="onLogoff()"
        title="Cerrar sesión"
      >
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content #mainContent class="ion-content" onload="scrollOnInit()" 
[scrollEvents]="true"
(ionScroll)="handleScroll($any($event))">
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más mensajes..."
    >
      <div
        *ngFor="let message of messages | slice: ind:messages.length"
        [ngClass]="message.user === user ? 'flex' : 'other'"
      >
        <div class="own">
          <ion-row class="headMsg">
            <!-- <ion-text *ngIf="message.user != user"><b>{{ message.username }}:</b><br
            /></ion-text>
            <ion-text *ngIf="message.username != username && message.user == user"><b>{{ message.username }} (ahora conocido como {{username}}):</b><br
            /></ion-text>
            <ion-text *ngIf="message.username != username && message.user == user"><b>{{ message.username }} (ahora conocido como {{username}}):</b><br
              /></ion-text> -->
            <ion-text><b>{{ message.username }}:</b><br/></ion-text>
            <span
              title="Borrar mensaje"
              class="del2"
              (click)="onDelete(message)"
            >
              <ion-icon name="trash-outline" class="del" item-right></ion-icon
            ></span>
          </ion-row>
          <ion-label class="ion-text-wrap" *ngIf="message.type === 'txt'">
            {{ message.text }}
          </ion-label>
          <img
            src="{{ message.text }}"
            *ngIf="message.type === 'img'"
            class="img"
          />
        </div>
      </div>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-input
        #inputMessage
        type="text"
        placeholder="Escribe aquí"
        minlength="1"
        id="inputMessage"
        (keyup.enter)="onSendMessage()"
      ></ion-input>
      <ion-button fill="clear" (click)="onTakePicture()" class="camera">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="onSendMessage()" class="enviar">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
