<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-title class="ion-text-center">Chat</ion-title>
      <ion-button class="logout" (click)="onLogoff()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content" onload="scrollOnInit()">
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más mensajes..."
    >
      <div
        *ngFor="let message of messages | slice: ind:messages.length"
        [ngClass]="message.user === user ? 'flex' : 'other'"
      >
        <div class="own">
          <ion-row class="headMsg">
            <ion-text
              ><b>{{ message.user }}:</b><br
            /></ion-text>
            <!-- Probar a poner el span con el pointer events none en el css del icon (aunque no creo que funcione) -->
            <span title="Borrar mensaje" class="del2" (click)="onDelete(message)">
              <ion-icon name="trash-outline" class="del" item-right></ion-icon
            ></span>
          </ion-row>
          <ion-label class="ion-text-wrap" *ngIf="message.type === 'txt'">
            {{ message.text }}
          </ion-label>
          <img src="{{ message.text }}" *ngIf="message.type === 'img'" />
        </div>
      </div>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-input
        type="text"
        placeholder="Escribe aquí"
        minlength="1"
        id="inputMessage"
        (keyup.enter)="onSendMessage()"
      ></ion-input>
      <ion-button (click)="onTakePicture()" class="camera">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onSendMessage()" class="enviar">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
