<ion-app>
    <ion-router-outlet></ion-router-outlet>
    
        <!-- <ion-content>
            <div class="bot">
                    <ion-button shape="round" block color="primary" routerLink="/login">Iniciar sesión</ion-button>
            </div>
            <hr>
            <ion-label class="bot">No estás registrado? Regístrate aquí</ion-label>
            <hr>
            <div class="bot">
                <ion-button shape="round" block color="primary" routerLink="/register">Registrarse</ion-button>
              </div>
        </ion-content> -->
</ion-app>