div.bot{
    padding-inline-start: 43%;
    padding-top: 5px;
  }
  ion-label.bot{
    padding: 4.17%;
    padding-inline-start: 40%;
    text-align: center;
    -ms-text-size-adjust: auto;
  }
  
  ion-button.but{
    font-size: large;
    min-height: 5%;
    padding-left: 27%;
  }